<% provide(:title, 'Otrzymane wiadomosci') %>
<h1>Otrzymane wiadomosci</h1>

<% if !@contacts_with_respond.nil? %>
    <h4>Z odpowiedziami</h4><br>
    <ul class="contacts">
        <%= render @contacts_with_respond %>
    </ul>
<% end %>

<% if !@contacts_without_respond.nil? %>
    <h4>Bez odpowiedzi</h4><br>
    <ul class="contacts">
        <%= render @contacts_without_respond%>
    </ul>
<% end %>
