<% provide(:title, 'Otrzymane wiadomosci') %>
<h1>Otrzymane wiadomosci</h1>

<ul class="contacts">
    <%= render @contacts_with_respond %>
</ul>

<ul class="contacts">
    <%= render @contacts_without_respond%>
</ul>
