<% provide(:title, "Strona domowa") %>

<div class="container">
   <%= render 'carousel/carousel_holder' %>
   <div class="col-md-9">
    <% @products = Good.last(6)%>
      <div class="row">
          <%= render @products %>
      </div>
  </div>
</div>

