<% provide(:title, "Regulamin") %>
<h1>Regulamin</h1>
<div class="well">
    
<div><strong>1.</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non quam porta, malesuada lectus ac, pharetra sem. Morbi vel mollis orci. 
Praesent sed fermentum neque. Vestibulum viverra lectus ut lacus lobortis vehicula. Praesent bibendum velit nec commodo elementum. 
Nam at rutrum eros. Nulla diam metus, sollicitudin et enim quis, suscipit vehicula eros. Curabitur convallis ac enim vitae tempus. 
Praesent rutrum dapibus fringilla. Aenean semper hendrerit malesuada.</div>

<div><strong>2.</strong>Ut vel velit nunc. Suspendisse ac tortor consequat, efficitur ex a, convallis ligula. 
Mauris suscipit commodo ex, sit amet lobortis nunc tempus et. 
Nunc consectetur interdum consequat. Aenean in nisl eget odio gravida congue. 
Pellentesque tristique egestas felis eu dapibus. Maecenas tellus nunc, consequat quis cursus id, imperdiet ac nibh. 
Suspendisse tristique ultrices nunc, dignissim dapibus augue aliquet sit amet. Nunc elementum gravida lorem eu commodo. 
Duis elementum vitae justo pharetra mollis. Aliquam ut mollis ipsum, eget pellentesque dolor. 
Aliquam pretium diam quis felis elementum eleifend. Phasellus porttitor lorem arcu, eu lacinia velit scelerisque vel.</div>

<div><strong>3.</strong>Nam suscipit mattis magna eget tincidunt. Nunc non sapien sed ante pulvinar aliquam. Donec ac vehicula ex. 
Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam at nunc porttitor, dignissim urna non, viverra justo. 
Mauris vel nisl eget leo posuere rhoncus. Pellentesque sagittis nisl arcu. Nunc ut nisi eu mi convallis luctus eget sit amet augue. 
Aenean ut varius diam. Proin sit amet volutpat dolor.</div>

<div><strong>4.</strong>Integer condimentum, lacus eu tincidunt pretium, arcu lorem ornare justo, sodales pulvinar magna magna nec ligula. 
Phasellus imperdiet dictum mi nec elementum. Integer hendrerit dolor quis elementum rhoncus. 
Etiam orci dui, dapibus vitae volutpat id, pharetra et nulla. In dapibus nisl sed diam tristique lobortis. 
Nam blandit vel nisl vitae varius. Aenean a laoreet sem. 
Duis tempor, odio id iaculis sagittis, eros sapien varius arcu, sed volutpat augue nibh sit amet turpis. 
Nullam vel odio tristique, aliquam massa nec, consectetur nulla. 
Quisque sem diam, dignissim ac euismod nec, sagittis id ligula. Sed id neque viverra est commodo consectetur.</div>

<div><strong>5.</strong>Nullam neque urna, varius ut leo vel, convallis tempus leo. Nullam porta aliquam massa semper commodo. 
Etiam fermentum quis turpis ut ultricies. Suspendisse aliquet ac libero nec consequat. Duis posuere sit amet neque nec vehicula. 
In hac habitasse platea dictumst. Sed consectetur vestibulum sodales. Nullam nec nisl justo. 
Pellentesque placerat, eros vitae porttitor semper, metus tellus tempus lorem, sed mollis tortor metus feugiat nisl. 
Pellentesque lobortis, nulla vel varius elementum, ligula nisl cursus diam, in facilisis lorem turpis a sem. 
Vivamus ornare lectus sit amet sem mattis imperdiet. Integer aliquam rhoncus nulla, pretium blandit arcu bibendum ac.
Vivamus bibendum turpis nec tellus sollicitudin, at aliquam ipsum accumsan. </div>
