<h1>Edytuj stan zamówienia</h1>

<%= render 'form' %>

<%= link_to 'Pokaż', @order_state, :class => "btn btn-xs btn-info" %> 
<%= link_to 'Wróć', order_states_path, :class => "btn btn-xs btn-default" %>
