<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @order_state.name %> 
  <%= link_to 'Edytuj', edit_order_state_path(@order_state), :class => "btn btn-xs btn-warning" %>
</p>


<%= link_to 'Wróć', order_states_path, :class => "btn btn-xs btn-default" %>
