<div class="item active">
   <%= link_to image_tag("1.jpg", :alt => "Slide1"), {:class => "slide-image", :alt => ""} %>
</div>
<div class="item">
   <%= link_to image_tag("2.jpg", :alt => "Slide2"), {:class => "slide-image", :alt => ""} %>
</div>
<div class="item">
   <%= link_to image_tag("3.jpg", :alt => "Slide3"), {:class => "slide-image", :alt => ""} %>
</div>

