<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "O nas",   about_path %></li>
      <li><%= link_to "Kontakt", contact_us_path %></li>
      <li><%= link_to "Regulamin", rules_path %></li>
    </ul>
  </nav>
</footer>