<% if !send_way.name.nil? %>
        <tr>
            <td><%= send_way.name %></td>
            <td><%= send_way.price %> zł</td>
            <td><%= send_way.how_many_days %></td>
        </tr>
<% end %>